.containe_principal {
	display: grid;
	align-items: center;
	width: auto;
	height: auto;
}
.tabelas {
	display: grid;
}
.jogo {
	display: flex;
	gap: 3em;
}
.placar {
	display: grid;
	border: 1px solid black;
	width: 30%;
}
.resultado,
.avisos {
	display: grid;
	height: 50%;
}
div {
	display: flex;
	justify-content: center;
}
tr td {
	border: 1px solid black;
}
td {
	text-align: center;
	width: 30px;
	height: 30px;
}
